<div class="container">
  <form class='form-group' action='/lessons' method='post'>
    <label for="name">Lesson Name</label>
    <input class='form-control' type='text' name='name'>
    <label for='text'>Lesson Text</label>
    <textarea class="form-control" name='text'></textarea>
    <label for='number'>Number</label>
    <input class="form-control" type='number' name='number'>
    <button class='btn btn-primary'>Submit</button>
  </form>
  <a href="/">Go back</a>
</div>
