<div class="container">
  <h1><%= @lesson.name %></h1>
  <p><%= @lesson.text %></p>
  <a href="/lessons/<%= @lesson.id %>" data-method="delete" rel="nofollow" class="btn btn-danger btn-xs">Delete Lesson</a>
  <a href="/lessons/<%= @lesson.id %>/edit" data-method="get" rel="nofollow" class="btn btn-primary btn-xs">Edit Lesson</a>
  <a href="/">Go back</a>
</div>
